.logbox{
    position: absolute;
    width: 350px;
    height: 280px;
    background-color: white;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}
.logtxt{
  position: absolute;
  top:10%;
  left:50%;
  transform: translate(-50%, -10%);
}

.logform{
  position: absolute;
  width: 100%;
  bottom: 10%;
  padding: 0px 40px;
  box-sizing: border-box;
}

.logbtn{
  width: 100%;
  text-align: center;
}